[submodule "thirdparty/taskflow"]
	path = thirdparty/taskflow
	url = https://github.com/taskflow/taskflow.git
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
