[submodule "thirdparty/taskflow"]
	path = thirdparty/taskflow
	url = git@github.com:taskflow/taskflow.git
[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = git@github.com:catchorg/Catch2.git
